@font-face {
    font-family: 'ZUUME ROUGH BOLD';
    src: url('../fonts/fontspring-demo-zuumerough-bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'ZUUME ROUGH BOLD', sans-serif; /* Add the font family */
    background-color: #000;
}

.header {
    text-align: center;
    padding-top: 5px;
    color: #fff; /* Text color */
    font-size: 124px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.logo {
    display: inline-block;
    margin-right: 10px; /* Adjust as needed */
    margin-left: 10px;
}

.logo img {
    width: 140px; /* Adjust the width as needed */
    height: auto;
    margin-right: 50px;
}

.background {
    background-image: url('../img/background.png'); /* Replace 'your-image.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(35%);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
    align-items: center;
    justify-items: center;
}

.grid-item {
    display: flex;
    flex-direction: row;
    width: 420px;
    height: auto;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;

    margin-bottom: 25px;
}

.grid-item:hover {
    transform: scale(1.1);
}

.grid-item h1 {
    color: #fff;
    writing-mode: vertical-lr;
    text-orientation: mixed;
}

.grid-item img {
    width: 100%;
    height: 100%;
    transition: filter 0.5s ease-in-out;
    background-color: #fff;
    border: 2px transparent;
    border-radius: 25px;
}

.grid-item.gray img {
    filter: brightness(20%);
}